<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">

      <div class="container">

        <div class="navbar-header">
          <%= link_to "CLASSROOM DASHBOARD", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav">
        <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
            <%= link_to "Sign in with Google", login_path %>
            <!--<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>-->
        <% end %>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to "Add Course Section", new_section_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

    <!-- Will give us notice if login/logout was sucessful or not -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
